<div class="flex flex-col gap-2 px-8 py-2">
  <h2 class="text-white text-[22px] font-bold">About Me</h2>
  <p
    class="text-white text-base font-normal leading-normal pb-3 pt-1 text-justify"
  >
    I am a full-stack software developer with over two years of experience in
    the legal tech space, building scalable applications and automation
    solutions. With a background in structural engineering and six years of
    experience in the field, I bring a strong problem-solving mindset to
    software development. My transition into tech was driven by a passion for
    creating efficient, data-driven solutions, and I continue to leverage my
    analytical skills to develop tools that enhance workflows and optimize
    processes. I thrive on tackling complex challenges through code and enjoy
    the continuous learning that comes with software development. Outside of
    work, I love participating in team sports, staying active, and traveling the
    world.
  </p>
</div>
