<div class="px-8 py-6">
  <h2 class="text-white text-[22px] font-bold pb-2">Technologies</h2>
  <h3 class="text-white text-[16px] font-bold pb-4">Languages</h3>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(100px,200px))] gap-2 pb-4">
    <app-technology-badge
      name="HTML"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="CSS"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="JavaScript"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="TypeScript"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="C#"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="Python"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="SQL"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg"
    ></app-technology-badge>
  </div>
  <h3 class="text-white text-[16px] font-bold pb-4">Development</h3>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(80px,200px))] gap-2 pb-4">
    <app-technology-badge
      name="Angular"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="Angular Material"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularmaterial/angularmaterial-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name=".NET Core"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dotnetcore/dotnetcore-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="OpenAPI"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/openapi/openapi-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="GitHub Actions"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/githubactions/githubactions-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="PostgreSQL"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg"
    ></app-technology-badge>
  </div>
  <h3 class="text-white text-[16px] font-bold pb-4">Other</h3>
  <div class="grid grid-cols-[repeat(auto-fit,minmax(80px,200px))] gap-2 pb-4">
    <app-technology-badge
      name="Git"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="GitHub"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="Docker"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
    ></app-technology-badge>
    <app-technology-badge
      name="GCP"
      svgSourceLink="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/googlecloud/googlecloud-original.svg"
    ></app-technology-badge>
  </div>
</div>
