<div class="px-8 py-6 text-[#122118] dark:text-white">
  <h2 id="skills" class="text-[22px] font-bold pb-4">Technical Skills</h2>

  <ng-container *ngFor="let category of categories">
    <h3 class="text-[16px] font-bold pb-4">{{ category.categoryName }}</h3>
    <div
      class="grid grid-cols-[repeat(auto-fill,minmax(175px,1fr))] gap-2 pb-4 justify-center"
    >
      <app-technology-badge
        *ngFor="let tech of category.technologies"
        [name]="tech.name"
        [svgSourceLink]="tech.svgSourceLink"
        [altText]="tech.altText || 'Technology Icon'"
      ></app-technology-badge>
    </div>
  </ng-container>
</div>

