<h2 class="text-white text-[22px] font-bold px-8 py-6">Projects</h2>
<div class="grid grid-cols-[repeat(auto-fit,minmax(270px,1fr))] gap-10 px-8">
  <app-project-tile
    projectTitle="Stock Watch"
    imageUrl="./stock-watch.png"
    imageAltText="Dashboard page for Stock Watch project"
    description="Stock Watch is a full-stack web application that allows users to track and manage their personal stock portfolio, and access real-time stock prices and historical data for US stocks, utilising the Alpha Vantage API."
  ></app-project-tile>
  <app-project-tile
    projectTitle="JJA Notes"
    imageUrl="./jja-notes.png"
    imageAltText="View of note taking project"
    description="JJA notes is a simple and easy to use note taking app that allows users to store Notebooks and Pages in one central location."
  ></app-project-tile>
  <app-project-tile
    projectTitle="Gym Tracker"
    imageUrl="./gym.png"
    imageAltText="Logo for Gym Tracker project"
    description="Sign up, set your profile information and start creating or recording workouts. Add exercises to each workout and produce a pdf copy to send to friends family or clients."
  ></app-project-tile>
</div>
