<div
  class="container flex justify-between items-center gap-10 max-[1000px]:flex-col pb-4 text-[#122118] dark:text-white"
>
  <div class="flex-6 max-[1000px]:flex-col">
    <h2 id="contact" class="text-[22px] font-bold px-8 py-6">Contact Me</h2>
    <p class="pb-3 px-8 text-justify">
      I'm always open to new opportunities and collaborations. Feel free to
      reach out to me via email or connect with me on LinkedIn. I look forward
      to hearing from you!
    </p>
    <form [formGroup]="contactForm" (ngSubmit)="onSend()">
      <div class="flex flex-wrap items-end gap-4 px-8 py-3">
        <label for="email" class="flex flex-col min-w-40 flex-1">
          <input
            id="email"
            type="email"
            required
            email
            formControlName="email"
            placeholder="Your email"
            [ngClass]="{
              'border border-red-500': email?.invalid && submitAttempted
            }"
            class="form-input flex w-full min-w-0 flex-1 overflow-hidden rounded-xl focus:outline-[#122118] focus:outline-1 bg-green-100 dark:bg-[#264532] h-14 placeholder:text-green-700 dark:placeholder:text-[#96c5a9] p-4"
          />
        </label>
      </div>
      @if(email?.invalid && submitAttempted){
      <div class="px-8 text-red-400">
        @if(email?.hasError("email") || email?.hasError("required")){
        <span class="inline-flex items-center gap-1"
          ><mat-icon
            aria-hidden="false"
            aria-label="Error Icon"
            fontIcon="error"
          ></mat-icon>
          Please enter a valid email address</span
        >
        }
      </div>
      }
      <div class="flex flex-wrap items-end gap-4 px-8 py-3">
        <label for="message" class="flex flex-col min-w-40 flex-1">
          <textarea
            id="message"
            type="text"
            required
            formControlName="message"
            placeholder="Your message"
            class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl focus:outline-[#122118] focus:outline-1 bg-green-100 dark:bg-[#264532] min-h-36 dark:placeholder:text-[#96c5a9] placeholder:text-green-700 p-4 text-base font-normal leading-normal"
            [ngClass]="{
              'border border-red-500': message?.invalid && submitAttempted
            }"
          ></textarea>
        </label>
      </div>
      @if(message?.invalid && submitAttempted){
      <div class="px-8 text-red-400">
        @if(message?.hasError("required")){
        <span class="inline-flex items-center gap-1"
          ><mat-icon
            aria-hidden="false"
            aria-label="Error Icon"
            fontIcon="error"
          ></mat-icon>
          Please add a message</span
        >
        }
      </div>
      }
      <div class="flex px-8 py-3 justify-end">
        <button
          type="submit"
          class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#38e07b] text-[#122118] text-sm font-bold leading-normal tracking-[0.015em]"
        >
          <span>Send</span>
        </button>
      </div>
    </form>
  </div>
  <div
    class="flex-4 border border-[#122118] max-[1000px]:flex-none mx-4 max-[1000px]:w-60/100 aspect-square rounded-full overflow-hidden @[480px]:h-auto @[480px]:min-w-[400px]"
  >
    <img
      src="alex-graphic-2.jpeg"
      alt="Headshot of Alex"
      class="w-full h-full object-cover"
    />
  </div>
</div>
