<div
  class="container flex justify-between items-center gap-10 max-[1000px]:flex-col pb-4 text-[#122118] dark:text-white"
>
  <div class="flex-6 max-[1000px]:flex-col">
    <h2 id="contact" class="text-[22px] font-bold px-8 py-6">Contact Me</h2>
    <p class="pb-3 px-8 text-justify">
      I'm always open to new opportunities and collaborations. Feel free to
      reach out to me via email or connect with me on LinkedIn. I look forward
      to hearing from you!
    </p>
    <div class="flex flex-wrap items-end gap-4 px-8 py-3">
      <label class="flex flex-col min-w-40 flex-1">
        <input
          placeholder="Your Email"
          class="form-input flex w-full min-w-0 flex-1 overflow-hidden rounded-xl focus:outline-0 bg-green-100 dark:bg-[#264532] h-14 placeholder:text-green-700 dark:placeholder:text-[#96c5a9] p-4"
          value=""
        />
      </label>
    </div>
    <div class="flex flex-wrap items-end gap-4 px-8 py-3">
      <label class="flex flex-col min-w-40 flex-1">
        <textarea
          placeholder="Your Message"
          class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl focus:outline-0 focus:ring-0 border-none bg-green-100 dark:bg-[#264532] focus:border-none min-h-36 dark:placeholder:text-[#96c5a9] placeholder:text-green-700 p-4 text-base font-normal leading-normal"
        ></textarea>
      </label>
    </div>
    <div class="flex px-8 py-3 justify-end">
      <button
        class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#38e07b] text-[#122118] text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <span>Send</span>
      </button>
    </div>
  </div>
  <div
    class="flex-4 border border-[#122118] max-[1000px]:flex-none mx-4 max-[1000px]:w-60/100 aspect-square rounded-full overflow-hidden @[480px]:h-auto @[480px]:min-w-[400px]"
  >
    <img
      src="me.jpeg"
      alt="Headshot of Alex"
      class="w-full h-full object-cover"
    />
  </div>
</div>
