<h2
  id="experience"
  class="text-[#122118] dark:text-white text-[22px] font-bold px-8 py-6"
>
  Professional Experience
</h2>
<div
  class="text-[#122118] dark:text-white text-[16px] font-bold px-8 pb-2 flex min-[950px]:justify-between max-[950px]:flex-col"
>
  <div class="flex min-[950px]:flex-row max-[950px]:flex-col">
    <div>Dye and Durham (London)</div>
    <!--html space character-->
    <p class="max-[950px]:hidden">&nbsp;-&nbsp;</p>
    <div>Software Engineer</div>
  </div>
  <div>March 2023 - Present</div>
</div>
<div class="text-[#122118] dark:text-white text-[16px] px-8 text-justify">
  Dye & Durham is a global leader in legal technology, delivering premier
  solutions for law firms through its Unity® suite. Covering practice
  management, real estate transactions, corporate and real estate due diligence,
  entity management, and legal AI, Dye & Durham empowers lawyers worldwide with
  tools that streamline their work. We also support many of the world’s top
  financial institutions, enabling them to facilitate payments at scale with
  confidence.
</div>
<div
  class="container flex justify-between items-center gap-10 max-[1000px]:flex-col pt-6 pb-4 px-8 text-[#122118] dark:text-white"
>
  <div
    class="flex flex-5 max-[1000px]:flex-none flex-col gap-3 @[480px]:gap-8 @[864px]:flex-row"
  >
    <h4 class="font-bold">Products: Unity Search UK</h4>
    <div>
      Unity Search UK is a group of web applications, communicating with
      internal and external web services and stores it’s data in a single
      SQLServer database. The services also communicates with external clients
      and suppliers via their web services. The application is hosted
      exclusively on Azure.
    </div>
    <div>
      <p>Key Technologies and Infrastructure</p>
      <p>Frontend: Angular 2.0/13/15, Asp .Net 4.8 MVC with Razor</p>
      <p>Backend: C# .NET 4.8, .NET core 3.1 & 8</p>
      <p>
        Infrastructure: Azure App Services, Azure Functions, Azure Application
        Slots, Azure hosted SQLServer, Azure Service Bus, VMs, Azure Storage
      </p>
    </div>
  </div>
  <div
    class="flex-2 max-[1000px]:flex-none max-[1000px]:w-85/100 aspect-square rounded-xl overflow-hidden @[480px]:h-auto @[480px]:min-w-[400px] border border-[#122118"
  >
    <img
      src="uk-search.png"
      alt="Product Image"
      class="w-full h-full object-cover"
    />
  </div>
</div>
