<h2
  id="experience"
  class="text-[#122118] dark:text-white text-[22px] font-bold px-8 py-6"
>
  Professional Experience
</h2>
<app-company-summary
  companyName="Dye and Durham (London)"
  jobTitle="Software Engineer"
  tenure="March 2023 - Present"
>
  <div>
    Dye & Durham is a global leader in legal technology, delivering premier
    solutions for law firms through its Unity® suite. Covering practice
    management, real estate transactions, corporate and real estate due
    diligence, entity management, and legal AI, Dye & Durham empowers lawyers
    worldwide with tools that streamline their work. We also support many of the
    world’s top financial institutions, enabling them to facilitate payments at
    scale with confidence.
  </div>
</app-company-summary>
<app-company-project
  projectName="Unity Search UK"
  imagePath="uk-search.png"
  [reversed]="true"
>
  <div>
    Unity Search UK is a group of web applications, communicating with internal
    and external web services and stores it’s data in a single SQLServer
    database. The services also communicates with external clients and suppliers
    via their web services. The application is hosted exclusively on Azure.
  </div>
  <div>
    <p>Key Technologies and Infrastructure</p>
    <p>Frontend: Angular 2.0/13/15, Asp .Net 4.8 MVC with Razor</p>
    <p>Backend: C# .NET 4.8, .NET core 3.1 & 8</p>
    <p>
      Infrastructure: Azure, Azure App Services, Azure Functions, Azure
      Application Slots, Azure hosted SQLServer, Azure Service Bus, VMs, Azure
      Storage
    </p>
  </div></app-company-project
>
<app-company-project
  projectName="Unity Search Australia"
  imagePath="au-unity-search.png"
>
  <div>
    Unity Search is web based platform for legal and property information
    searches. It serves one stop shop for commercial and business info, due
    diligence and risk management. It's cloud based system and most services
    deployed through automated deployment tool like flux and other CI/CD
    pipelines and follows a microservice architecture.
  </div>
  <div>
    <p>Key Technologies and Infrastructure</p>
    <p>Frontend: Angular, Flutter, .NET MVC</p>
    <p>Backend: C# .NET Core 6-8, .NET Framework</p>
    <p>
      Infrastructure: Google Cloud, Kubernetes, Windows Server 2016, VMs,
      PostgreSQL, MSSQL, RabbitMQ
    </p>
  </div></app-company-project
>
<app-company-project
  projectName="Unity Canada"
  imagePath="ca-unity.webp"
  [reversed]="true"
>
  <div>
    Unity Search UK is a group of web applications, communicating with internal
    and external web services and stores it’s data in a single SQLServer
    database. The services also communicates with external clients and suppliers
    via their web services. The application is hosted exclusively on Azure.
  </div>
  <div>
    <p>Key Technologies and Infrastructure</p>
    <p>Frontend: Angular 18, jQuery</p>
    <p>Backend: Apache Tomcat 11, Java 17, Spring, Hibernate</p>
    <p>
      Infrastructure: AWS, Red Hat Enterprise Linux, Windows Server 2012,
      PostgreSQL 16
    </p>
  </div></app-company-project
>
<app-company-summary
  companyName="Robert Bird Group (Brisbane)"
  jobTitle="Senior Structural Engineer"
  tenure="2016 - 2023"
>
  <div>
    Robert Bird Group is a global consulting engineering firm specialising in
    structual, construction and civil engineering. They deliver clients vision
    through the relentless pursuit of engineering excellence across all
    projects.
  </div>
</app-company-summary>
<app-company-project
  projectName="Engineering Automation"
  imagePath="grasshopper.png"
  [reversed]="true"
>
  <div>
    I found my passion for software at the intersection of structural
    engineering and automation. Driven by the goal of eliminating repetitive
    bottlenecks, I developed a Python desktop app that slashed data output time
    for crane analysis by 67% (£18k/year savings). I also engineered a graphical
    coding plugin to automate the end-to-end generation of lifting capacity
    charts, reducing manual drafting time by half and saving the company £25,000
    annually. For me, coding is about more than syntax—it’s about engineering
    better ways to work.
  </div>
</app-company-project>
<app-company-project projectName="Cross River Rail" imagePath="crane-alex.jpeg">
  <div>
    Cross River Rail is a 10.2 km, £2.7 billion (equivilant) rail line
    infrastructure projectin Brisbane, Australia, featuring 5.9 km of twin
    tunnels under the CBD and Brisbane River, set for 2026. It includes four new
    underground stations (Boggo Road, Woolloongabba, Albert Street, Roma
    Street), upgraded surface stations, and new Gold Coast stations to boost
    capacity.
  </div>
  <div>
    <p>
      Led a team of ~10 engineers and drafters on the construction phases,
      sequencing and temporary retention works on the Woolloongabba Underground
      Station
    </p>
  </div></app-company-project
>
<app-company-project
  projectName="Tower Crane Projects"
  imagePath="crane.jpeg"
  [reversed]="true"
>
  <div>
    Before transitioning into software engineering, I worked as a structural
    engineer designing tower cranes used on major construction projects around
    the world. As part of a multidisciplinary team, I contributed to bespoke
    engineering solutions tailored to complex site constraints and demanding
    performance requirements. The role required solving challenging technical
    problems with innovative, practical designs — balancing safety, efficiency,
    and constructability at scale.
  </div>
</app-company-project>
