<h2
  id="experience"
  class="text-[#122118] dark:text-white text-[22px] font-bold px-8 py-6"
>
  Professional Experience
</h2>
<app-company-summary
  companyName="Dye and Durham (London)"
  jobTitle="Software Engineer"
  tenure="March 2023 - Present"
>
  <div>
    Dye & Durham is a global leader in legal technology, delivering premier
    solutions for law firms through its Unity® suite. Covering practice
    management, real estate transactions, corporate and real estate due
    diligence, entity management, and legal AI, Dye & Durham empowers lawyers
    worldwide with tools that streamline their work. We also support many of the
    world’s top financial institutions, enabling them to facilitate payments at
    scale with confidence.
  </div>
</app-company-summary>
<app-company-project projectName="Unity Search UK" imagePath="uk-search.png">
  <div>
    Unity Search UK is a group of web applications, communicating with internal
    and external web services and stores it’s data in a single SQLServer
    database. The services also communicates with external clients and suppliers
    via their web services. The application is hosted exclusively on Azure.
  </div>
  <div>
    <p>Key Technologies and Infrastructure</p>
    <p>Frontend: Angular 2.0/13/15, Asp .Net 4.8 MVC with Razor</p>
    <p>Backend: C# .NET 4.8, .NET core 3.1 & 8</p>
    <p>
      Infrastructure: Azure App Services, Azure Functions, Azure Application
      Slots, Azure hosted SQLServer, Azure Service Bus, VMs, Azure Storage
    </p>
  </div></app-company-project
>
