<div
  class="relative min-h-screen bg-green-100 dark:bg-[#122118] flex flex-col overflow-x-hidden"
>
  <div class="layout-container flex-col">
    <!-- Might still use the backdrop blur-->
    <!-- <app-nav-bar
    class="fixed px-24 top-0 left-0 right-0 backdrop-blur-md bg-green-100/50 dark:bg-green-900/50 z-50"
  ></app-nav-bar> -->

    <!-- Swap to hamburger menu at 780px width-->
    <app-nav-bar
      class="flex items-center justify-between whitespace-nowrap border-b border-solid dark:border-b-[#264532] px-10 py-3"
    ></app-nav-bar>
  </div>
  <div class="px-40 max-[650px]:px-10 flex flex-1 justify-center">
    <div class="flex flex-col max-w-[960px] flex-1">
      <!-- <app-featured class="container mx-auto"></app-featured> -->
      <app-featured
        class="flex flex-col gap-6 px-4 @[480px]:gap-8 @[864px]:flex-row"
      ></app-featured>
      <app-about-me></app-about-me>
      <app-projects></app-projects>
      <app-techologies></app-techologies>
      <button
        id="projects"
        (click)="toggleDarkMode()"
        class="mt-2 px-4 py-2 bg-green-600 hover:bg-green-700 text-white rounded"
      >
        Toggle Dark Mode
      </button>
    </div>
  </div>
</div>
