<!-- <div class="flex items-center p-4 dark:text-white"> -->
<div class="flex flex-row justify-center items-center gap-4">
  <img
    src="an-logo.jpg"
    alt="Graphic of Alex"
    class="w-8 h-8 object-contain rounded-2xl"
  />
  <h2 class="text-white text-lg font-bold max-[300px]:hidden">
    Alex's Portfolio
  </h2>
</div>
<app-navigation-links
  class="dark:text-white max-[750px]:hidden"
></app-navigation-links>
<app-socials class="max-[750px]:hidden"></app-socials>
<app-hamburger-nav-menu class="min-[750px]:hidden"></app-hamburger-nav-menu>
