<div class="container flex justify-between items-center" id="about">
  <div class="w-128 h-128 dark:text-green-300">
    <p class="text-4xl text-center">
      Hi <span class="text-4xl inline-block wave">👋</span> my name is Alex and
      I'm a Software Developer<span class="text-4xl">👨‍💻</span>
    </p>
    <h3 class="text-center underline text-4xl pt-8">About me</h3>
    <p class="text-justify pt-8">
      I am a full-stack software developer with over two years of experience in
      the legal tech space, building scalable applications and automation
      solutions. With a background in structural engineering and six years of
      experience in the field, I bring a strong problem-solving mindset to
      software development. My transition into tech was driven by a passion for
      creating efficient, data-driven solutions, and I continue to leverage my
      analytical skills to develop tools that enhance workflows and optimize
      processes. I thrive on tackling complex challenges through code and enjoy
      the continuous learning that comes with software development. Outside of
      work, I love participating in team sports, staying active, and traveling
      the world.
    </p>
  </div>
  <img
    src="alex-graphic-2.jpeg"
    alt="Graphic of Alex"
    class="w-128 h-128 object-contain rounded-full shadow-2xl shadow-amber-800"
  />
</div>
