<div class="flex justify-evenly items-center" id="about">
  <div class="w-128 h-128 dark:text-green-300">
    <p class="text-4xl text-center">
      Hi <span class="text-4xl inline-block wave">👋</span> my name is Alex and
      I'm a Software Developer<span class="text-4xl">👨‍💻</span>
    </p>
    <h3 class="text-center underline text-4xl pt-8">About me</h3>
    <p class="text-justify pt-8">
      I am a junior software engineer with a background in structural
      engineering and 6 years of experience in the field. Through self-study and
      a full-time bootcamp, I have made the transition to full-time software
      development. Drawing on the problem-solving skills I developed as a senior
      structural engineer, I am now focused on building custom programs,
      plugins, and automations to digitize my team's workflow. I am passionate
      about the endless possibilities that software development offers for
      solving complex problems. In my free time I love participating in team
      sports, staying active and traveling the world.
    </p>
  </div>
  <img
    src="alex-graphic-2.jpeg"
    alt="Graphic of Alex"
    class="w-128 h-128 object-contain rounded-full shadow-2xl shadow-amber-800"
  />
</div>
