<div
  class="container flex justify-between items-center gap-10 max-[1000px]:flex-col py-10"
>
  <div
    class="flex-4 aspect-square rounded-xl overflow-hidden @[480px]:h-auto @[480px]:min-w-[400px] @[864px]:w-full"
  >
    <img
      src="alex-graphic-2.jpeg"
      alt="Graphic of Alex"
      class="w-full h-full object-cover shadow-2xl shadow-amber-800"
    />
  </div>
  <div
    class="flex flex-5 flex-col gap-6 px-4 @[480px]:gap-8 @[864px]:flex-row dark:text-green-300"
  >
    <div
      class="flex flex-col gap-6 @[480px]:min-w-[400px] @[480px]:gap-8 @[864px]:justify-center"
    >
      <p
        class="text-white text-2xl font-black @[480px]:text-5xl @[480px]:font-black"
      >
        Hi<span class="text-2xl inline-block wave">👋</span>, I'm Alex and I'm a
        Software Developer<span class="text-2xl">👨‍💻</span>
      </p>
      <p class="text-justify">
        A passionate software developer with a knack for creating innovative
        solutions. I specialize in full-stack development, crafting seamless
        user experiences and robust backend systems. Explore my portfolio to see
        my work and learn more about my skills and experience.
      </p>
      <!-- <p class="text-justify pt-8">
        I am a full-stack software developer with over two years of experience
        in the legal tech space, building scalable applications and automation
        solutions. With a background in structural engineering and six years of
        experience in the field, I bring a strong problem-solving mindset to
        software development. My transition into tech was driven by a passion
        for creating efficient, data-driven solutions, and I continue to
        leverage my analytical skills to develop tools that enhance workflows
        and optimize processes. I thrive on tackling complex challenges through
        code and enjoy the continuous learning that comes with software
        development. Outside of work, I love participating in team sports,
        staying active, and traveling the world.
      </p> -->
    </div>
  </div>
</div>
