// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@include mat.core();

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.menu-overrides(
    (
      container-color: #1b3124,
    )
  );

  @include mat.snack-bar-overrides(
    (
      container-color: green,
      supporting-text-color: white,
    )
  );
}

app-contact-confirmation-snack-bar {
  @include mat.icon-overrides(
    (
      color: white,
    )
  );
}

.dark {
  @include mat.icon-button-overrides(
    (
      hover-state-layer-opacity: white,
    )
  );
}
